<div class="title">
    {{{title}}}
    
    <div class="well">
        Username: 
        <input type="text" name="username" id="username"></input>
        <div class="btn btn-primary" id="join">Join</div>
    </div>
    
    <div class="well" id="chat"></div>
    
    <div id="chat-bar">
        <form id="chat-form">
            <input type="text" name="text" id="text"></input>
            <input type="submit" class="btn btn-primary" id="submit"></input>
        </form>
    </div>
    
    
</div>